body {
    background-image: url(../media/jpg/fon-1.jpg);
}

div {
    border: 1px solid black;
    padding: 5px;
}

div#genres-wrapper {
    border: 0 solid black;
}

div.discord {
    border: 0;
    padding: 0;
}

div.number {
    border: 0;
    padding: 0;
}

div.telegram {
    border: 0;
    padding: 0;
}

.genres {
    border: 0;
    top: 82px;
    left: 170px;
    bottom: 0;
    right: 0;
}

.wrapper {
    background-color: darkgray;
    width: 86%;
    margin: 0 auto;
    height: auto;
}

.header {
    display: block;
    background: url(../media/jpg/head.jpg) repeat-x center bottom;
    height: 150px;
}

.navbar {
    background-color: azure;
    padding: 0;
    height: 50px;
}

.content {
    max-width: 100%;
    max-height: available;

}

.sidebar {
    height: 60em;
    width: 150px;
    float: left;
    margin-right: 10px;

}

.sidebarImg {
    margin: 0 auto;
    width: 80%;
}

.navbut {
    width: 200px;
    border-radius: 10px;
    height: 44px;
    margin-top: 1px;
    background-image: url(../media/jpg/but-01.jpg);
}

.logo {
    margin-left: -50px;
    margin-top: -40px;
}

.info {
    padding: 50px;
}


.image_size {
    width: 10%;
}


.image_size_sp {
    width: 23%;
}


.footer {
    background-image: url(../media/jpg/footer-bg.jpg);
    height: 120px;
    color: aliceblue;
}

.mostRec {
    border: 0;
}

.Gide {

    width: 700px;
    font-size: 16px;

    text-align: center;
}

ol{
    font-size: 17px;

}

.IMG_URL_DIABLO_CENTER{
    text-align: center;


}
.IMG_DIABLO_SHUDOW{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 3px;
    border: ridge;
    width: 300px;
}

#GIDE_content{
    text-align: center;
    width: 700px;
}

.last{
    background: black;
}
li{
    margin-left: 10px;
    float: right;
}

#races {
    width: 180px;
}

#rogue-im-link {
}

table, tr, td {
    text-align: left;
    padding: 5px;
    border: 1px solid black;
}
